* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  background-color: rgb(152, 240, 130);
  color: #000;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #262626;
}

.main-nav {
  border-radius: 4px;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 16px;
  padding: 20px 0;
}

.main-nav .logo {
  font-size: 20px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 20px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  display: flex;
  margin-right: 30px;
  padding: 0 20px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  background: #262626;
  color: #fff;
  border: 0;
  font-size: 15px;
  padding: 10px 20px;
}

.btn:hover {
  opacity: 0.9;
}

.showcase {
  width: 100%;
  height: 400px;
  background: url("Immagini/rosa.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 80px;
  margin-bottom: 20px;
}

.showcase h2 {
  font-size: 30px;
}

.showcase p,
.showcase h2 {
  margin-bottom: 10px;
}

.showcase .btn {
  margin-top: 15px;
}

.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 30px;
}

.box img {
  width: 100%;
  margin-bottom: 10px;
  /* height: 150px; */
}

.box h3 {
  margin-bottom: 5px;
}

.box a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  font-weight: bold;
}

.box a:hover i {
  margin-left: 3px;
}

.center {
  background: url("Immagini/macchina.jpg") no-repeat center center/cover;
  height: 400px;
  width: 100%;
  font-weight: bold;
}

.center .content {
  width: 30%;
  padding: 40px 0 0 40px;
}

.center p {
  margin: 10px 0 20px;
}

.footer {
  background-color: white;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 20px 80px;
  color: #000;
}

.footer-inner i:hover {
  opacity: 0.3;
}

@media (max-width: 800px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
  .center .content p {
    display: none;
  }
  .center .content h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .center .content .btn {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .box {
    grid-template-columns: 1fr;
  }
}
